body {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
  color: #1e1e1e;
  background: #f8f8f8 !important;
  font-size: 14px;
}
body *:not(i) {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Avenir LT W01 35 Light', sans-serif;
  font-weight: normal;
  color: #5f6165;
}
h1 em,
h2 em,
h3 em,
h4 em {
  font-style: normal;
  color: #005c84;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: #5f6165;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong {
  color: #005c84;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  margin: 0;
}
blockquote,
q {
  border: none;
  font-style: italic;
  quotes: "\201C" "\201D" "\2018" "\2019" !important;
}
blockquote p {
  background: transparent;
}
/**/
blockquote:before {
  position: absolute;
  color: #858585;
  content: "\201C";
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.1em;
  top: 0;
  left: 0;
  margin-top: 4.5rem;
  width: 30px;
  z-index: 99;
}
blockquote {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: normal;
  line-height: 0.1;
  margin-bottom: 2px;
}
@media (max-width: 720px) {
  blockquote {
    font-size: 1.5rem;
  }
}
a {
  color: #005c84;
}
a:hover {
  text-decoration: underline;
  color: #005c84;
}
.centered {
  text-align: center;
}
.centered > * {
  text-align: center;
}
footer {
  padding: 2rem 0;
  background: #005c84;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 1rem center;
}
@media (max-width: 720px) {
  footer {
    background-size: auto 40%;
    background-position: right 1rem bottom 1rem;
  }
}
footer a {
  color: white!important;
}
footer .footermenu {
  margin-top: 1rem;
}
footer .footermenu a {
  color: white;
  text-transform: uppercase;
  padding: 0 0.5rem;
  border-left: 1px solid white;
  line-height: 1em;
}
footer .footermenu a:first-child {
  border: none;
}
@media (max-width: 720px) {
  footer .footermenu a {
    border: none;
  }
}
header {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  padding: 2rem 0;
  z-index: 99;
  width: 100vw;
}
header .hc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header #menu {
  display: flex;
  justify-content: flex-end;
}
header #menu > div {
  line-height: 1em;
  padding: 0 0.5rem;
  border-right: 1px solid #5f6165;
  color: #5f6165;
}
header #menu > div:last-child {
  border: none;
}
header #menu > div a {
  color: #5f6165;
  text-decoration: none;
}
header #menu > div a:hover {
  color: #005c84;
  font-weight: bold;
}
@media (max-width: 720px) {
  header {
    padding: 1rem 0;
  }
  header .hc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header .hc img {
    height: 40px;
    margin-bottom: 1rem;
  }
  header #menu {
    display: flex;
    justify-content: flex-end;
  }
  header #menu > div {
    line-height: 1em;
    padding: 0 0.5rem;
    border-right: 1px solid #5f6165;
    color: #5f6165;
  }
  header #menu > div.nomobile {
    display: none;
  }
  header #menu > div a {
    color: #5f6165;
    text-decoration: none;
  }
  header #menu > div a:hover {
    color: #005c84;
    font-weight: bold;
  }
}
#header.scrolled {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background: rgba(255, 255, 255, 0.9);
  padding: 1rem 0;
}
#header.unscrolled {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background: rgba(255, 255, 255, 0.7);
  padding: 2rem 0;
}
@media (max-width: 720px) {
  #header.scrolled {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem 0;
  }
  #header.unscrolled {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background: #ffffff;
    padding: 1rem 0;
  }
}
.imggal .gimg {
  cursor: pointer;
  padding-top: 100%;
}
.imggal .gimg.h {
  padding-top: calc(200% + 10rem);
}
.imggal .gimg.w {
  padding-top: calc(66.6% - 1rem);
}
.subpage {
  padding: 140px 0 2rem 0;
}
@media (max-width: 720px) {
  #home {
    padding: 101px 0 2rem 0;
  }
}
#home #videocontainer {
  padding: 0;
}
@media (max-width: 720px) {
  #home #videocontainer {
    margin: 0 -1rem;
  }
}
#home #videocontainer #home_player {
  background: white;
  max-height: 70vh;
  width: 100%;
}
@media (max-width: 720px) {
  #home #videocontainer #home_player {
    height: 56vw;
  }
}
#home #keyv {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#home #keyvlogo {
  height: 25vh;
  margin-bottom: 10vh;
}
#home section {
  padding: 2rem 0;
  border-bottom: 1px dashed #005c84;
  position: relative;
}
#home section .navpoint {
  position: absolute;
  top: -6.8rem;
}
#home #alpsec .imgwrapper {
  position: relative;
  margin-bottom: 2rem;
}
#home #alpsec .imgwrapper #teamnamesback {
  position: absolute;
  z-index: -1;
  background: #005c84;
  width: 100%;
  bottom: 1rem;
  height: 5.5rem;
}
#home #alpsec .centeredImgBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home #alpsec .centeredImgBlocks > div {
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}
#home #alpsec .centeredImgBlocks img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#home #alpsec .centeredImgBlocks h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem 0 0 0;
  color: white;
}
#home #alpsec .centeredImgBlocks h3 em {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}
#home #alpsec .centeredImgBlocks h3 p {
  margin: 0;
  line-height: 1.5rem;
}
#home #alpsec .intro {
  padding-bottom: 3rem;
}
@media (max-width: 720px) {
  #home #alpsec h1 {
    font-size: 1.7rem;
  }
  #home #alpsec #teamnamesback {
    display: none;
  }
  #home #alpsec .centeredImgBlocks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #home #alpsec .centeredImgBlocks > div {
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
    flex: 1 1 100%;
  }
  #home #alpsec .centeredImgBlocks img {
    max-width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    z-index: -1;
  }
  #home #alpsec .centeredImgBlocks h3 {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: -0.4rem 0 0 0;
    padding: 0.5rem;
    z-index: 2;
    color: white;
    background: #005c84;
  }
  #home #alpsec .centeredImgBlocks h3 em {
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
  }
  #home #alpsec .centeredImgBlocks h3 p {
    margin: 0;
    line-height: 1.5rem;
  }
  #home #alpsec .intro {
    padding-bottom: 2rem;
    text-align: justify;
  }
}
#home #projektesec h3 {
  font-weight: bold;
}
#home #projektesec #plist .column {
  text-align: center;
}
#home #zertifikatesec h4 {
  font-weight: bold;
}
#home #zertifikatesec .desc {
  text-align: center;
}
#home #bimsec .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#home #bimsec .container img {
  max-width: 100%;
}
#home #bimsec .container img:last-child {
  margin: 4rem 0;
}
#home #bimsec h2 {
  text-align: left;
}
#home #planungsec .pg {
  display: flex;
  align-items: center;
}
#home #planungsec .pg > * {
  flex: 1 1 33%;
}
#home #planungsec .pg #centimg {
  width: 20vw;
  flex: 0 1 20vw;
}
#home #planungsec .pg #centimg img {
  width: 100%;
}
#home #planungsec .pg .line {
  width: 100%;
  border-bottom: 1px dashed #005c84;
  position: absolute;
  top: 50%;
  z-index: -1;
  display: none!important;
}
#home #planungsec .pg .elem {
  font-size: 0.8rem;
}
#home #planungsec .pg .left .line {
  left: 2rem;
}
#home #planungsec .pg .left .elem {
  margin: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: right;
}
#home #planungsec .pg .left .elem h3 {
  text-align: right;
  margin: 0 0 0.5rem 0;
}
#home #planungsec .pg .left .imgcont {
  padding-right: 2vw;
  position: relative;
}
#home #planungsec .pg .left .imgcont img {
  z-index: 2;
  margin-left: 2rem;
}
#home #planungsec .pg .right .line {
  right: 2rem;
}
#home #planungsec .pg .right .elem {
  margin: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}
#home #planungsec .pg .right .elem h3 {
  text-align: left;
  margin: 0 0 0.5rem 0;
}
#home #planungsec .pg .right .imgcont {
  padding-left: 2vw;
  position: relative;
}
#home #planungsec .pg .right .imgcont img {
  z-index: 2;
  margin-right: 2rem;
}
@media (max-width: 720px) {
  #home #planungsec .pg {
    display: flex;
    flex-direction: column;
  }
  #home #planungsec .pg > * {
    flex: 1 1 33%;
  }
  #home #planungsec .pg #centimg {
    display: none;
  }
  #home #planungsec .pg .line {
    width: 100%;
    border-bottom: 1px dashed #005c84;
    position: absolute;
    top: 50%;
    z-index: -1;
    display: none!important;
  }
  #home #planungsec .pg .elem {
    font-size: 1rem;
  }
  #home #planungsec .pg .left .line,
  #home #planungsec .pg .right .line {
    left: 2rem;
  }
  #home #planungsec .pg .left p,
  #home #planungsec .pg .right p {
    text-align: left;
  }
  #home #planungsec .pg .left .elem,
  #home #planungsec .pg .right .elem {
    margin: 2rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
  }
  #home #planungsec .pg .left .elem h3,
  #home #planungsec .pg .right .elem h3 {
    text-align: left;
    margin: 0 0 1rem 0;
  }
  #home #planungsec .pg .left .imgcont,
  #home #planungsec .pg .right .imgcont {
    position: absolute;
    right: 0;
    top: -1rem;
  }
  #home #planungsec .pg .left .imgcont img,
  #home #planungsec .pg .right .imgcont img {
    z-index: 2;
    width: 3rem;
    margin: 0;
  }
}
#home #karrieresec h3 {
  font-size: 1.2rem;
  margin: 0;
}
#home #karrieresec h3 em {
  font-size: 1rem;
}
#home #karrieresec h3 p {
  margin: 0;
}
#home #karrieresec content_text {
  font-size: 1.2rem;
  margin: 0;
}
#home #karrieresec content_text em {
  font-size: 1rem;
}
#home #karrieresec content_text p {
  margin: 0;
}
#home #karrieresec .column {
  text-align: center;
}
#home #karrieresec ul {
  padding-left: 1em;
}
#home #kontaktsec {
  padding: 0;
}
#home #kontaktsec img {
  max-width: 100%;
}
#home #kontaktsec .container {
  padding-top: 2rem;
}
