{{ define "main" }} {{$p:=.Params}}
<div id="home">
  <!--
  <div id="keyv" style="background:url({{partial "imgUrl" (dict "img" "/uploads/2021/02/01/alp_office2.jpg" "params" "q_100" )}}) center center no-repeat; background-size:cover">
    <img id="keyvlogo" src="{{partial "imgUrl" (dict "img" $p.keyvisual.logo_layer "params" "q_100" )}}"/>
  </div>
  -->
  <div id="videocontainer" >
    <iframe
    src="https://customer-n2yle1sa4qkhphyy.cloudflarestream.com/82c3252171f9494a758acf4ca795a5e6/iframe?muted=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-n2yle1sa4qkhphyy.cloudflarestream.com%2F82c3252171f9494a758acf4ca795a5e6%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false&letterboxColor=%23ffffff&primaryColor=%23ffffff"
    loading="lazy"
    style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"
  ></iframe>
    <!--
    <div style="max-width: px">
      <video
        id="home_player"
        data-cld-public-id="alp/ALP_Intro_06032021"
        muted
        class="cld-video-player cld-video-player-skin-light"
      ></video>
    </div>
  -->
  </div>
  
  <section id="alpsec">
    <div id="alp" class="navpoint"></div>
    <div class="imgwrapper">
      <div class="ui container">
        <h1>{{$p.alp.headline | safeHTML}}</h1>
        <div class="centeredImgBlocks">
          <div>
            <img src="{{partial "imgUrl" (dict "img" $p.alp.teambild_links "params" "q_100,height=280" )}}"/>
            <h3>{{$p.alp.team_name_links | safeHTML}}</h3>
          </div>
          <div>
            <img src="{{partial "imgUrl" (dict "img" $p.alp.team_rechts "params" "q_100,height=280" )}}"/>
            <h3>{{$p.alp.team_name_rechts | safeHTML}}</h3>
          </div>
        </div>
      </div>
      <div id="teamnamesback"></div>
    </div>
    <div class="ui container">
      <div class="intro">
        {{$p.alp.einleitungstext | safeHTML}}
      </div>
      <div class="ui four column stackable grid imggal">
        {{ range $x,$img := $p.alp.bildergalerie }} 
              <div class="column">
                <div data-modal="imgg" data-idx="{{$x}}" class="gimg" style="background:url({{partial "imgUrl" (dict "img" $img "params" "fit=cover,gravity=auto,height=1200,width=1200c_fill" )}}) center center no-repeat;background-size:cover"></div> 
              </div>
        {{end}}
      </div>
    </div>
  </section>
  
<section id="planungsec">
    <div id="planung" class="navpoint"></div>
    <div class="ui container">
      <h2>{{$p.planung.headline | safeHTML}}</h2>
      <div class="centered">
        {{$p.planung.einleitungstext | safeHTML}}
      </div>
      <div class="pg">
        <div class="left">
          {{ range $p.planung.content_links }} 
            <div class="elem">
              <div>
                <h3>{{.icon_titel | safeHTML}}</h3>
                {{.content_text | safeHTML}}
              </div>
              <div class="imgcont">
                <div class="line"></div>
                <img src="{{partial "imgUrl" (dict "img" .icon "params" "quality=100,height=70" )}}"/>
              </div>
            </div>
          {{end}}
        </div>
        <div id="centimg">
          <img src="{{partial "imgUrl" (dict "img" $p.planung.bild_mitte "params" "quality=100,width=400" )}}"/>
        </div>
        <div class="right">
          {{ range $p.planung.content_rechts }} 
          <div class="elem">
            <div class="imgcont">
              <div class="line"></div>
              <img src="{{partial "imgUrl" (dict "img" .icon "params" "quality=100,height=70" )}}"/>
            </div>
            <div>
              <h3>{{.icon_titel | safeHTML}}</h3>
              {{.content_text | safeHTML}}
            </div>
            
          </div>
        {{end}}
        </div>
      </div>
    </div>
  </section>
  
  <section id="bimsec" >
    <div id="bim" class="navpoint"></div>
    <div class="ui container">
      <h2>{{$p.bim.headline | safeHTML}}</h2>
      <img src="{{partial "imgUrl" (dict "img" "/uploads/2021/02/04/bim_ready_logo.png" "params" "quality=80,width=300" )}}"/>
      <img src="{{partial "imgUrl" (dict "img" $p.bim.bild "params" "quality=100,width=800" )}}"/>
    </div>
    <div style="margin-top:7rem"/>
    <div class="ui container">
      <div class="ui grid stackable">
        <div class="eight wide column">
          <div data-modal="imgp" data-idx="1" style="height:100%;min-height:500px; background:url({{partial "imgUrl" (dict "img" $p.bim.bildlinks "params" "fit=cover,quality=80,width=555,height=891,gravity=auto" )}}) right top no-repeat;background-size:contain"></div>
        </div>
        <div class="eight wide column" style="min-height:500px;">
          {{$p.bim.referenztext | markdownify}}
        </div>
      </div>
    </div>
  </section>
  
  <section id="projektesec" >
    <div id="projekte" class="navpoint"></div>
    <div class="ui container">
      <h2>{{$p.projekte.headline | safeHTML}}</h2>
      <div class="ui grid imggal stackable">
        <div class="eight wide column">
          {{ range $x,$img := $p.projekte.bildergalerie }} {{if eq $x 0}}
          <div data-modal="imgp" class="gimg" data-idx="{{$x}}" style="background:url({{partial "imgUrl" (dict "img" $img "params" "fit=cover,width=1200,height=1200,gravity=auto" )}}) center center no-repeat;background-size:cover"></div> {{end}}{{end}}
        </div>
        <div class="eight wide column imggalcol">
          <div class="ui two column stackable grid">
          {{ range $x,$img := $p.projekte.bildergalerie }} 
            {{if gt $x 0}}
              {{if lt $x 5}}
                <div class="column">
                  <div data-modal="imgp" data-idx="{{$x}}" class="gimg" style="background:url({{partial "imgUrl" (dict "img" $img "params" "fit=cover,width=1200,height=1200,gravity=auto" )}}) center center no-repeat;background-size:cover"></div> 
                </div>
              {{end}}
            {{end}}
          {{end}}
          </div>
        </div>
      </div>
      <div class="ui four column stackable grid imggal">
        {{ range $x,$img := $p.projekte.bildergalerie }} 
          {{if gt $x 4}}
              <div class="column">
                <div data-modal="imgp" data-idx="{{$x}}" class="gimg" style="background:url({{partial "imgUrl" (dict "img" $img "params" "fit=cover,width=1200,height=1200,gravity=auto" )}}) center center no-repeat;background-size:cover"></div> 
              </div>
          {{end}}
        {{end}}
      </div>
      <h3>{{$p.projekte.subheadline_projekte | safeHTML}}</h3>
      <div id="plist" class="ui three column stackable grid">
        <div class="column">
          {{$p.projekte.content_links | safeHTML}}
        </div>
        <div class="column">
          {{$p.projekte.content_mitte | safeHTML}}
        </div>
        <div class="column">
          {{$p.projekte.content_rechts | safeHTML}}
        </div>
      </div>
    </div>
  </section>
  
  <section id="karrieresec">
    <div id="karriere" class="navpoint"></div>
    <div class="ui container">
      <h2>{{$p.karriere.headline | safeHTML}}</h2>
      <div class="content_text">
        {{$p.karriere.content_text | safeHTML}}
      </div>      
    </div>
  </section>

  <section id="zertifikatesec" >
    <div id="zertifikate" class="navpoint"></div>
    <div class="ui container">
      <h2>ZERTIFIKATE</h2>
      <div class="ui six column doubling stackable grid imggal gimg">
        {{ range $x,$z := $p.zertifikate.zertifikate }} 
        <div class="column">
          <div data-modal="imgz" data-idx="{{$x}}" class="gimg" style="min-height:300px; background:url({{partial "imgUrl" (dict "img" $z.bild "params" "fit=cover,width=370,height=594,gravity=auto" )}}) center bottom no-repeat;background-size:contain"></div> 
          <h4>{{$z.headline | safeHTML}}</h4>
          <div class="desc">
          {{$z.beschreibung | safeHTML}}
        </div>
        </div>
        {{end}}
        </div>
    </div>
  </section>
  
  <section id="kontaktsec">
    <div id="kontakt" class="navpoint"></div> 
   <div style="background:url({{partial "imgUrl" (dict "img" $p.kontakt.background_picture "params" "quality=100" )}}) center center no-repeat; background-size:cover" >  
    <div class="ui container" >
      <h2>{{$p.kontakt.headline | safeHTML}}</h2>
      <div id="plist" class="ui two column stackable grid">
        <div class="column">
          {{$p.kontakt.content_links | safeHTML}}
        </div>
        <div class="column">
          <img src="{{partial "imgUrl" (dict "img" $p.kontakt.karte_rechts "params" "quality=100,width=1200" )}}"/>
        </div>
      </div>
    </div>
  </div> 
  </section>
  <div class="ui modal small" id="modal_imgg">
    <div class="content">
      <ul id="gal_imgg" class="imggalslider ">
        {{ range $x,$img := $p.alp.bildergalerie }}
        <li>
          <img style="z-index:2;" src="{{partial "imgUrl" (dict "img" $img "params" "height=1000" )}} " />
        </li>
        {{end}}
      </ul>
    </div>
  </div>
  <div class="ui modal small" id="modal_imgp">
    <div class="content">
      <ul id="gal_imgp" class="imggalslider ">
        {{ range $x,$img := $p.projekte.bildergalerie }}
        <li>
          <img style="z-index:2;" src="{{partial "imgUrl" (dict "img" $img "params" "height=1000" )}} " />
        </li>
        {{end}}
      </ul>
    </div>
  </div>
  <div class="ui modal small" id="modal_imgz">
    <div class="content">
      <ul id="gal_imgz" class="imggalslider ">
        {{ range $x,$img := $p.zertifikate.zertifikate }}
        <li>
          <img style="z-index:2;" src="{{partial "imgUrl" (dict "img" $img.bild "params" "height=1000" )}} " />
        </li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    var cld = cloudinary.Cloudinary.new({ cloud_name: 'b-coding' });
    var demoplayer = cld.videoPlayer('home_player',{
      loop:true,
      autoplayMode:'on-scroll',
      hideContextMenu:true,
      quality: 100, 
      videoCodec: "auto",
      showJumpControls: false
    });
  });
</script>
{{ end }}


