{{ $t := .Site.GetPage "header.md" }} {{ $currentPage := . }}{{$site := .Site}}
<header id="header">
  <div class="ui container">
    <div class="hc">
      <div id="logo">
        <a href="/">
          <img src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "quality=100,height=60" )}} "/>
        </a>
      </div>
      <div id="menu">
        <div class="nomobile">
          <a href="/" title="Home">
            <span>Home</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#alp" title="ALP">
            <span>ALP</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#planung" title="Planung">
            <span>Planung</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#bim" title="BIM">
            <span>BIM</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#zertifikate" title="Zertifikate">
            <span>Zertifikate</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#projekte" title="Projekte">
            <span>Projekte</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#karriere" title="Karriere">
            <span>Karriere</span>
          </a>
        </div>
        <div class="mobile">
          <a href="#kontakt" title="Kontakt">
            <span>Kontakt</span>
          </a>
        </div>
      </div>
    </div>
    
  </div>
</header>